<div id="footer">
    <div>
        <ul class="navigation">
            <li class={{home}}>
                <a href="index.html">Home</a>
            </li>
            <li class={{travel}}>
                <a href="/travel">Travel</a>
            </li>
            <li class={{rooms}}>
                <a href="rooms.html">Rooms</a>
            </li>
            <li class={{meals}}>
                <a href="meals.html">Meals</a>
            </li>
            <li class={{news}}>
                <a href="news.html">News</a>
            </li>
            <li class={{about}}>
                <a href="/about">About</a>
            </li>
            <li class={{contact}}>
                <a href="contact.html">Contact</a>
            </li>
        </ul>
        <div id="connect">
            <a href="http://pinterest.com/fwtemplates/" target="_blank" class="pinterest"></a>
            <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a>
            <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a>
            <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
        </div>
    </div>
    <p>
        © 2023 by BHACCASYONIZTAS BEACH RESORT. All Rights Reserved
    </p>
</div>