<div id="header">
    <div id="logo">
        <a href="index.html"><img src="images/logo.png" alt="LOGO" height="100" width="200"></a>
    </div>
    <div id="navigation">
        <ul>
            <li class={{home}}>
                <a href="index.html">Home</a>
            </li>
            <li class={{travel}}>
                <a href="/travel">Travel</a>
            </li>
            <li class={{rooms}}>
                <a href="rooms.html">Rooms</a>
            </li>
            <li class={{meals}}>
                <a href="meals.html">Meals</a>
            </li>
            <li class={{news}}>
                <a href="news.html">News</a>
            </li>
            <li class={{about}}>
                <a href="/about">About</a>
            </li>
            <li class={{contact}}>
                <a href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
</div>